@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form asp-action="Index" asp-controller="Show">
    <span>Username:</span>
    <input type="text" />
    <button type="submit">Login</button>
</form>